#p1,
#p2,
#p3,
#p4,
#p5,
#p6 {
    font-size: 20px;
    font-weight: bolder;
}

.copyright {
    margin-top: 150px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#mail,
#linkedin,
#github {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

#intouch {
    font-weight: bolder;
}

#p0 {
    font-size: 50px;
}

#hackathon1,
#hackathon2 {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

.map {
    display: none;
}

#code {
    color: rgb(44, 44, 44);
    background-color: rgb(180, 179, 179);
    border-radius: 2px;
    font-size: 15px;
    padding: 2px 5px;
    margin: 0 5px;
}

#live {
    color: rgb(44, 44, 44);
    background-color: rgb(180, 179, 179);
    border-radius: 2px;
    font-size: 15px;
    padding: 2px 5px;
    margin: 0 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#contact {
    margin-top: -20px;
}

#resume,
#project {
    margin-top: -200px;
}

hr {
    border: 1px solid rgb(152, 152, 152);
    width: 100%;
    margin-bottom: -60px;
}